<!DOCTYPE html>
<html lang="en">
    <block>
        <meta charset="UTF-8">
        <!-- For mobile devises -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}<title>Registration page</title>{% endblock %}
        <!-- Bootstrap stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
    {% block body %}
    <div class="container col-5">
            <div class="col" style="padding: 10px;outline: 2px solid #0040ff; margin:100px; background: #ffb84d" >
                <h1 class="text-center" style="color:#0040ff">Registration</h1>
                <hr>
                <div class="col">
                    <form action="" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {% if form.username.errors %}
                            <div class="alert alert-danger">{{ form.username.errors }}</div>
                            {% endif %}
                            <label for="id_username"></label> <input type="text" placeholder="Enter username" class="form-control" name="username" maxlength="150" required="" id="id_username">
                            <label for="id_password1"></label> <input type="password" placeholder="Enter password" class="form-control" name="password1" required="" id="id_password1">
                            {% if form.password2.errors %}
                            <div class="alert alert-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                            <label for="id_password2"></label> <input type="password" placeholder="Enter password again" class="form-control" name="password2" required="" id="id_password2">
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                            <div class="col-right">
                                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/userpage/login/'">Sign in</input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
